body {
  margin-top: 45px;
  padding: 10px;
  background-color: #ECF0F1;
}
.small-gutter *[class*="col-"] {
	padding-left: 2px !important;
	padding-right: 2px !important;
}
.no-gutter *[class*="col-"] {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.full-width {
	width: 100%;
}
.p-t-3 {
	padding-top: 3px;
}
.m-b-0 {
	margin-bottom: 0;
}
.p-w-5

.control-label {
	padding-top: 7px;
}

.datepicker.dropdown-menu{width:250px;height:270px}
.datepicker.dropdown-menu button{outline:0;border:0}
.datepicker.dropdown-menu tbody{height:180px}
.datepicker.dropdown-menu tbody button{padding:6px}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button{height:65px}

.timepicker.dropdown-menu{padding:0 4px}
.timepicker.dropdown-menu button{outline:0;border:0}
.timepicker.dropdown-menu tbody button{padding:6px}

::-webkit-validation-bubble-message { display: none; }

.navbar-form .form-control {
	width: 100%;
}
.has-error .select2-container{
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	border: 1px solid #a94442;
	border-radius: 5px;
}
.error-row {
	background-color: #FFDDDD;
}

.min-dialog .form-group{
	margin-bottom: 5px;

}
.min-dialog .modal-footer {
	padding-top:5px;
	margin-top: 0;
}
.min-dialog .modal-body {
	padding-top:5px;
	padding-bottom:5px;
}
.min-dialog .modal-header {
	padding-bottom:5px;
	padding-bottom:5px;
}

.navbar-brand {
	height: 35px;
	padding: 7px 15px;
	font-size: 16px;
	line-height: 20px;
}

@media (min-width: 768px) {
	.navbar .navbar-nav > li > a {
		padding-top: 7px;
		padding-bottom: 7px;
	}
}
.navbar {
	min-height: 35px;
}
