<div class="container-fluid" ng-init="init()">
    <div id="#scheduler" ui-calendar="uiConfig.calendar" ng-model="calendarSource" calendar="schedule"></div>
</div>
<script type="text/ng-template" id="viewAppointmentModal.html">
	<div class="modal-header">
        <h3 class="modal-title">View your appointment</h3>
    </div>
    <div class="modal-body">
    	<h4>Appointment Detail</h4>
    	<div class="well">
    		<div>Start : {{currentAppointment.date}} {{currentAppointment.startTime}}</div>
    		<div>End : {{currentAppointment.date}} {{currentAppointment.endTime}}</div>
    		<div>Title : {{currentAppointment.title}}</div>
    		<div>Description : {{currentAppointment.description}}</div>
    		<div>Notes : {{currentAppointment.notes}}</div>
    	</div>
    	<h4>Attendees</h4>
    	<div class="well">
    		<div class="row">
				<div class = "col-xs-4">
	    			Email
				</div>
				<div class = "col-xs-4">
					First Name
				</div>
				<div class = "col-xs-4">
					Last Name
				</div>
			</div>
			<hr>
    		<div class="row" ng-repeat="attendee in data.attendees">
				<div class = "col-xs-4">
	    			{{attendee.email}}
				</div>
				<div class = "col-xs-4">
					{{attendee.firstName}}
				</div>
				<div class = "col-xs-4">
					{{attendee.lastName}}
				</div>
			</div>
    	</div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-primary btn-warning" ng-click="close()">Close</button>
	    <button class="btn btn-primary pull-left" ng-click="prevAppointment()" ng-class="{'disabled': currentPos <= 0}">Prev</button>
	    <button class="btn btn-primary pull-left" ng-click="nextAppointment()" ng-class="{'disabled': currentPos >= endPos}">Next</button>
    </div>
</script>

<script type="text/ng-template" id="createAppointmentModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{dlgTitle}}</h3>
    </div>
    <div class="modal-body">
    	<div ng-show="step==0">
	        <h4>Create Group</h4>
        	<div class="row" ng-repeat="attendee in data.attendees">
        		<form name='editAttendeeForm' novalidate >
        		<div class = "col-xs-8">
        			<div class="row" ng-hide="attendee.editMode">
        				<div class = "col-xs-4">
			    			{{attendee.email}}
						</div>
						<div class = "col-xs-4">
							{{attendee.firstName}}
						</div>
						<div class = "col-xs-4">
							{{attendee.lastName}}
						</div>
        			</div>
	       			<div class="row" ng-show="attendee.editMode">
			        	<div class = "col-xs-4 p-t-3" ng-class="{'has-error': editAttendeeForm.email.$invalid && editAttendeeForm.email.$dirty }">
			    			<select ui-select2 ng-model="attendee.user_id" name="email" data-placeholder="Enter email" class="attendee_select2 full-width" ng-change="changeAttendee(attendee)" required>
							    <option value=""></option>
							    <option ng-repeat="user in info.users" value="{{user.user_id}}">{{user.email}}</option>
							</select>
							<!-- input type="hidden" ui -select2="select2Options" ng -model="attendee.id"  class="full-width" placeholder="Enter Email" required -->
						</div>
						<div class = "col-xs-4" ng-class="{'has-error': editAttendeeForm.firstname.$invalid && editAttendeeForm.firstname.$dirty }">
							<!-- input type="text" ng-model="attendee.firstName" name="firstname" class="form-control" placeholder="First Name" required -->
							<span>{{attendee.firstName}}</span>
						</div>
						<div class = "col-xs-4" ng-class="{'has-error': editAttendeeForm.lastname.$invalid && editAttendeeForm.lastname.$dirty }">
							<!-- input type="text" ng-model="attendee.lastName" name="lastname" class="form-control" placeholder="Last Name" required -->
							<span>{{attendee.lastName}}</span>
						</div>
					</div>
				</div>
				<div class = "col-xs-4">
					<button class="btn btn-default" ng-click="editAttendee(attendee)"  ng-hide="attendee.editMode">Edit</button>
					<button class="btn btn-default" ng-click="completeAttendee(editAttendeeForm, attendee)" ng-show="attendee.editMode">Done</button>
					<button class="btn btn-default" ng-click="removeAttendee(attendee, $index)">Remove</button>
				</div>
				</form>
			</div>
	        <form class='row' name='newAttendeeForm' id='newAttendeeForm' novalidate >
				<div class = "col-xs-8">
	       			<div class="row">
			        	<div class = "col-xs-4 p-t-3" ng-class="{'has-error': newAttendeeForm.email.$invalid && newAttendeeForm.email.$dirty }">
			    			<input type="hidden" ui-select2="select2Options" ng-model="newAttendee.id"  class="full-width" placeholder="Enter Email" required>
						</div>
						<div class = "col-xs-4" ng-class="{'has-error': newAttendeeForm.firstname.$invalid && newAttendeeForm.firstname.$dirty }">
							<input type="text" ng-model="newAttendee.firstName" name="firstname" class="form-control" placeholder="First Name" required ng-show="newAttendee.isNameConfigurable">
							<span ng-hide="newAttendee.isNameConfigurable">{{newAttendee.lastName}}</span>
						</div>
						<div class = "col-xs-4" ng-class="{'has-error': newAttendeeForm.lastname.$invalid && newAttendeeForm.lastname.$dirty }">
							<input type="text" ng-model="newAttendee.lastName" name="lastname" class="form-control" placeholder="Last Name" required ng-show="newAttendee.isNameConfigurable">
							<span ng-hide="newAttendee.isNameConfigurable">{{newAttendee.lastName}}</span>
						</div>
					</div>
				</div>
				<div class = "col-xs-4">
					<button class="btn btn-default" ng-click="addAttendee(newAttendeeForm)">Add</button>
				</div>
	        </form>
        </div>
        <div ng-show="step==1">
        	<h4>Appointment</h4>
        	<form class='form' name="appointmentForm">
	        	<div class="form-group">
	        		<label>Choose the appointment type.</label>
	        		<select class="form-control" name="type"  ng-class="{'has-error': appointmentForm.type.$invalid && appointmentForm.type.$dirty }" ng-model="newAppointment.type" ng-options="type.appt_type_id as type.title for type in info.types" required placeholder="Type"></select>
	        	</div>
	        	<div class="form-group" ng-class="{'has-error': appointmentForm.title.$invalid && appointmentForm.title.$dirty }">
	        		<input type="text" ng-model="newAppointment.title" name="title" class="form-control" placeholder="title" required>
	        	</div>
	        	<div class="form-group row">
	        		<div class = "col-xs-3" ng-class="{'has-error': appointmentForm.date.$invalid && appointmentForm.date.$dirty }">
	        			<input type="text" class="form-control" ng-model="newAppointment.date" name="date" ng-required bs-datepicker data-date-format="MM/dd/yyyy" data-date-type="string" placeholder="Date">
		        	</div>
		        	<div class = "col-xs-3" ng-class="{'has-error': appointmentForm.starttime.$invalid && appointmentForm.starttime.$dirty }">
		        		<input type="text" class="form-control" size="8" ng-model="newAppointment.startTime" name="starttime" ng-required bs-timepicker minute-step="1" data-time-type="string" data-time-format='hh:mm a' placeholder="Start Time">
		        	</div>
		        	<div class = "col-xs-1">
		        		<label class="control-label">to</label>
		        	</div>
		        	<div class = "col-xs-3" ng-class="{'has-error': appointmentForm.endtime.$invalid && appointmentForm.endtime.$dirty }">
		        		<input type="text" class="form-control" size="8" ng-model="newAppointment.endTime" name="endtime" ng-required bs-timepicker minute-step="1" data-time-type="string" data-time-format='hh:mm a' placeholder="End Time">
		        	</div>
		        </div>
	        	<div class="form-group">
		        	<label>Description</label>
		        	<textarea  class="form-control" ng-model="newAppointment.description" rows="5" id="description" name="description"></textarea>
		        </div>
		        <div class="form-group m-b-0">
		        	<label>Notes</label>
		        	<textarea  class="form-control" ng-model="newAppointment.notes" rows="5" id="notes" name="notes"></textarea>
		        </div>
	        </form>
        </div>
        {{parameters}}
    </div>
    <div class="modal-footer">
    	<div ng-show="step==0">
        	<button class="btn btn-primary" ng-click="next()">Next</button>
        	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        <div ng-hide="step==0">
        	<button class="btn btn-primary" ng-click="done(appointmentForm)">Done</button>
        	<button class="btn btn-primary" ng-click="addAnother(appointmentForm)">Add another step</button>
        	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>